<a class="list-group-item">
	<h5 class="list-group-item-heading"><strong><%= comment.commenter %></strong> |  <%= comment.created_at.to_date.to_formatted_s(:long) %></h5>
	<p class="list-group-item-text"><%= comment.body %></p>
</a>