<div class="jumbotron">
	<h1>Howdy, Subscribers!</h1>
	<p>This is my public blog, where I feature anything which I find that will catch your interest and mine. This site includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
	<p>
	<%= link_to 'View Articles »', {controller: 'articles'}, class: 'btn btn-lg btn-primary', role: 'button'%>
	</p>
</div>
